/* Browsing Content Area */

#browser {
  border-right: 2px solid #b2b2b2;
  border-left: 2px solid #b2b2b2;
  border-bottom: 2px solid #b2b2b2;
  border-radius: 0px 0px 5px 5px;
  margin-top: -1px !important;
}

/* When in fullscreen (including videos) remove borders and margin */

:root:not([sizemode="normal"]) #browser,
:root[inDOMFullscreen="true"] #browser {
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
  margin-top: 0px !important;
}

/* On Linux, if native titlebars are enabled remove borders and margin */

@media (-moz-platform: linux) {
:root:not([tabsintitlebar="true"]) #browser {
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
  margin-top: 0px !important;
}
  
@supports (-moz-bool-pref("silverfox.beChromeOS")) { 
#browser {
  border-right: none !important;
  border-left: none !important;
  border-bottom: none !important;
  margin-top: -1px !important;
}  
}
}