/* Default Firefox UI layout tweak */


/* Disable x is now fullscreen popup */
#fullscreen-warning {
  display: none !important;
}

/* Disables MenuBar */
#toolbar-menubar {
  display: none !important;
}

/* Disable the 2 gaps, Import context menu, Save to Pocket, Firefox View */
#fxa-toolbar-menu-button,
#import-button,
#save-to-pocket-button,
#customizableui-special-spring2,
#firefox-view-button,
#customizableui-special-spring1 {
  display: none !important;
  border: none !important;
}

/* Remove the separator Firefox View adds */
:root:not([privatebrowsingmode="temporary"], [firefoxviewhidden]) :is(toolbarbutton, toolbarpaletteitem) + #tabbrowser-tabs, :root[privatebrowsingmode="temporary"]:not([firefoxviewhidden]) :is(toolbarbutton:not(#firefox-view-button), toolbarpaletteitem:not(#wrapper-firefox-view-button)) + #tabbrowser-tabs {
  border-inline-start: 0px solid color-mix(in srgb, currentColor 25%, transparent) !important;
  padding-inline-start: 0px !important;
  margin-inline-start: 0px !important;
}


/* Context menu (bring back non icon back, refresh etc) */

#context-navigation { 
  flex-direction: column !important; 
 background-color: -moz-menuhoverdisabled !important;
}

#context-navigation > menuitem > .menu-iconic-left { 
  display: none 
}

#context-navigation > menuitem {
  padding-inline-start: 2.7em;
  justify-content: start !important;
  width: auto !important;
  background-image: red !important;
}

#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]){ 
  background-color: -moz-menuhover !important; 
}

#context-navigation > menuitem::before { 
  content: attr(aria-label);
}

#toggle_toolbar-menubar,
#context-pocket {
  display: none !important;
}


/* Customize Firefox */

#customization-header::after {
  content: "Where are the rest of the elements? To not disrupt Chrome's layout, everything but Home button has been disabled/hidden." !important;
  font-weight: normal !important;
  font-size: 12px !important;
  position: relative !important;
  left: 2px !important;
}

#wrapper-customizableui-special-spring10,
#customization-uidensity-button,
#wrapper-customizableui-special-spring7,
#wrapper-fxa-toolbar-menu-button,
#customization-panel-container,
#wrapper-customizableui-special-spring5,
#wrapper-customizableui-special-spring4,
#wrapper-library-button,
#wrapper-search-container,
#wrapper-bookmarks-menu-button,
#wrapper-fullscreen-button,
#wrapper-new-window-button,
#wrapper-developer-button,
#wrapper-privatebrowsing-button,
#wrapper-panic-button,
#wrapper-preferences-button,
#wrapper-screenshot-button,
#wrapper-sync-button,
#wrapper-logins-button,
#wrapper-email-link-button,
#wrapper-characterencoding-button,
#wrapper-edit-controls,
#wrapper-zoom-controls,
#wrapper-sidebar-button,
#wrapper-open-file-button,
#wrapper-find-button,
#wrapper-print-button,
#wrapper-save-page-button,
#wrapper-history-panelmenu {
  display: none !important;
}

@media (-moz-platform: windows) {
#customization-titlebar-visibility-checkbox {
    display: none !important;
}  
  
#customization-titlebar-visibility-checkbox[checked="true"] {
    display: flex !important;
    font-size: 0px !important;   
}
  
#customization-titlebar-visibility-checkbox[checked="true"]::after {
  content: "Since you are on Windows, please uncheck this option." !important;
  font-size: 12px !important;
  color: red !important;
  font-weight: bold !important;
}
}

@media (-moz-platform: macos) {
#customization-titlebar-visibility-checkbox {
    display: none !important;
}  
  
#customization-titlebar-visibility-checkbox[checked="true"] {
    display: flex !important;
    font-size: 0px !important;   
}
  
#customization-titlebar-visibility-checkbox[checked="true"]::after {
  content: "Since you are on macOS, please uncheck this option." !important;
  font-size: 12px !important;
  color: red !important;
  font-weight: bold !important;
}    
}

@media (-moz-platform: linux) {
#customization-titlebar-visibility-checkbox {
    display: flex !important;
}    
}

#wrapper-home-button::after {
  content: "Home button, if needed, please drag it after refresh button. It should stay between refresh button and adressbar." !important;
}

#wrapper-personal-bookmarks::after {
  content: "Your bookmarks, please drag this in the dotted section (bookmark bar)" !important;
}


/* Clear Recent History panel */

#SanitizeDialog h2[id="titleText"]::before {
  content: "Clear browsing data" !important;
  color: var(--lwt-text-color) !important;
  font-weight: 400 !important;
}

#SanitizeDialog h2[id="titleText"] {
  color: transparent !important;
  margin-top: -7px !important;
  margin-bottom: 12px !important;
}

#sanitizeDurationLabel::before {
  content: "Obliterate the following items from:" !important;
  margin-right: -2px !important;
}

#sanitizeDurationChoice {
  padding-left: 35px !important;
  text-transform: lowercase !important;
  max-height: 25px !important;
  min-height: 25px !important;
  max-width: 150px !important;
  border: 1px solid #c0c0c0 !important;
  border-radius: 2px !important;
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #e0e0e0 70%, #e0e0e0 100%) !important;
}

#sanitizeEverythingWarningBox,
h2[data-l10n-id="data-section-label"],
h2[data-l10n-id="history-section-label"] {
  display: none !important;
}

#SanitizeDialog groupbox > hbox{
  display: flex !important;
  flex-direction: column-reverse !important;
  font-size: 12px !important;
  margin-left: 8px !important;
}

#sanitizeDurationChoice > menupopup {
  border: 1px solid #7f9db9 !important;
  width: 150px !important;
}

#sanitizeDurationChoice menuseparator {
  display: none !important;
}

.dialogFrame {
  width: 500px !important;
}

button[dlgtype="cancel"],
button[data-l10n-id="sanitize-button-ok"] {
  max-height: 25px !important;
  color: #444444 !important;
  font-weight: 500 !important;
  min-height: 25px !important;
  max-width: 150px !important;
  border: 1px solid #c0c0c0 !important;
  border-radius: 2px !important;
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #e0e0e0 70%, #e0e0e0 100%) !important;
  white-space: nowrap !important; 
}

button[data-l10n-id="sanitize-button-ok"] {
  font-size: 0px !important;
}

button[data-l10n-id="sanitize-button-ok"]::before {
  content: "Clear browsing data" !important;
  color: #444444 !important;
  position: relative !important;
  top: -4px !important;
    font-weight: 500 !important;
  font-size: 12px !important;
}

#sanitizeDurationChoice:hover,
button[dlgtype="cancel"]:hover,
button[data-l10n-id="sanitize-button-ok"]:hover {
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #e0e0e0 70%, #e0e0e0 100%) !important;
}


/* Set Firefox as default */

notification-message[message-bar-type=infobar] {
  margin: 4px 0 0 !important;
}

.container.infobar::before {
  content: url(../../assets/images/pages/settings/chromelogo.png) !important;
  margin-left: 7px !important;
  background-image: none !important;
  margin-top: 5px !important;
}

@supports (-moz-bool-pref("silverfox.beChromium")) {
  .container.infobar::before {
   content: url(../../assets/images/pages/settings/chromiumlogo.png) !important; 
}
}

.container.infobar {
  background: linear-gradient(to bottom, #fdeda8 0%, #fae692 100%) !important;
  margin-top: -5px !important;
  border-bottom: 1px solid #b2b2b2 !important;
  border-right: 2px solid #b2b2b2 !important;
  border-left: 2px solid #b2b2b2 !important;
  border-radius: 0px !important;
}

span[data-l10n-id="default-browser-notification-message"] {
  font-size: 0px !important;
  margin-left: 28px !important;
}

.notification-message {
  font-size: 15px !important;
  margin-left: 2px !important;
  margin-top: 1.5px !important;
}



span[data-l10n-id="default-browser-notification-message"]:before {
  content: "Google Chrome isn't your default browser." !important;
  font-size: 15px !important;
  position: relative !important;
  top: 1.5px !important;
}

@supports (-moz-bool-pref("silverfox.beChromium")) {
span[data-l10n-id="default-browser-notification-message"]:before {
  content: "Chromium isn't your default browser." !important; 
}  
}

button[data-l10n-id="restore-session-startup-suggestion-button"],
button[data-l10n-id="default-browser-notification-button"] {
  background: linear-gradient(to bottom, #fefae7 0%, #fbedb0 100%) !important;
  color: black !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border: 1px solid #978c5e !important;
}

button[data-l10n-id="restore-session-startup-suggestion-button"]:hover,
button[data-l10n-id="default-browser-notification-button"]:hover {
  border: 1px solid black !important;
}

.close.ghost-button.notification-close {
  background: url(../../assets/images/topbar/closetab.png) !important;
  background-repeat: no-repeat !important;
  position: relative !important;
  top: 7px;
}

.notificationbox-stack.global-notificationbox notification-message[style="margin-top: -37.5px; opacity: 0;"] {
  display: none !important;
}


/* Checkboxes and radios */

.checkbox-check {
  background-color: #ededed !important;
  border: 1px solid #a9a9a9 !important;
}

.checkbox-check:not([native]) {
  height: 13px !important;
  width: 13px !important;
  margin-top: 3px !important;
}

.checkbox-check[checked] {
  border-color: #a9a9a9 !important;
  background-color: #ededed !important;
  background-image: url("chrome://userchromeassets/content/images/pages/settings/checkmark.png") !important;
}

checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
  background-color: var(--checkbox-unchecked-hover-bgcolor, color-mix(in srgb, AccentColor 4%, Field)) !important;
}

.radio-check {
  width: 15px !important;
  height: 15px !important;
  border: 1px solid #a9a9a9 !important;
  background-color: #ededed !important;
}

.radio-check[selected] {
  fill: #666666 !important;
  color: #666666 !important;
  background-size: 15px !important;
}

html|input[type="radio"]:enabled:checked:hover,
xul|radio:not([disabled="true"])[selected]:hover > xul|*.radio-check {
  background-color: #ededed !important;
  color: #666666 !important;
  border-color: none !important;
}

html|input[type="radio"]:enabled:checked:hover:active,
xul|radio:not([disabled="true"])[selected]:hover:active > xul|*.radio-check {
  background-color: none !important;
  color: transparent !important;
  border-color: none !important;
}

radio[focused="true"] > .radio-check { 
  outline: none !important; 
}