/* Hamburger Menu */

#appMenu-notification-popup {
  display: none !important;
}

#hamburger-button {
  appearance: unset !important;
}

#hamburger-button {
  z-index: 999 !important;
  width: 28px !important;
  height: 24px !important;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  margin-top: 4px !important;
  margin-right: 5px !important;
  margin-left: 2px !important;
}

#hamburger-button menupopup, menuitem, div {
  font-size: 12px !important;
}

@supports (-moz-bool-pref("silverfox.preferOldLook")) {
#hamburger-button[current="true"]::before {
  content: url(../../assets/images/middlebar/wrench.png) !important;
  height: 24px !important;
  width: 28px !important;
  position: relative !important;
  top: -3px !important;
  left: -1px !important;
}
  
#hamburger-button[current="false"]::before {
  content: url(../../assets/images/middlebar/wrench_update.png) !important;
  height: 24px !important;
  width: 28px !important;
  position: relative !important;
  top: -3px !important;
  left: -1px !important;
}  
}

@supports not (-moz-bool-pref("silverfox.preferOldLook")) {
#hamburger-button[current="true"]::before {
  content: url(../../assets/images/middlebar/hamburger.png) !important;
  height: 24px !important;
  width: 28px !important;
  position: relative !important;
  top: -5px !important;
  left: -4px !important;
}
  
#hamburger-button[current="false"]::before {
  content: url(../../assets/images/middlebar/hamburger_update.png) !important;
  height: 24px !important;
  width: 28px !important;
  position: relative !important;
  top: -5px !important;
  left: -4px !important;
}  
}

#hamburger-button[current="true"] .update-silverfox {
  display: none !important;
}

#hamburger-button[current="false"] .update-silverfox {
  color: #ab2020 !important;
}

#hamburger-button menuitem {
  padding-right: 0px !important;
  width: 280px !important;
}

/* (*′☉.̫☉) */
.windows8-mode[now="false"],
#hamburger-button menuseparator[now="false"] {
  display: none !important;
}

.submenu-item1::after,
.submenu-item2::after,
.submenu-item3::after,
.submenu-item7::after,
.submenu-item8::after,
.submenu-item9::after,
.submenu-item11::after,
.submenu-item12::after,
.submenu-item10-3::after,
.submenu-item10-4::after,
.submenu-item10-6::after,
.submenu-item10-7::after {
  position: relative !important;
  right: 20px;  
}

.submenu-item1::after {
  content: "Ctrl+T" !important;
}

.submenu-item2::after {
  content: "Ctrl+N" !important;
}

.submenu-item3::after {
  content: "Ctrl+Shift+N" !important;
}

@media (-moz-platform: macos) {
  .submenu-item1::after {
    content: "⌘+T" !important;
  }
  
  .submenu-item2:after {
    content: "⌘+N" !important;
  }
  
  .submenu-item3:after {
    content: "⌘+⇧+N" !important;
  }
}

.submenu-item5 {
  height: 22px !important;
}

@media (-moz-platform: macos) {
  .submenu-item5 {
    height: unset !important;
  }
}

.submenu-item5:before {
  content: "Edit";
  position: relative;
  left: 33px;
}

@media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
  .submenu-item5:before {
    left: 29px;
  }
}  

@media (-moz-platform: macos) {
  .submenu-item5:before {
    left: 23px;
  }
}

.submenu-item6 {
 height: 23px !important; 
}

@media (-moz-platform: macos) {
  .submenu-item6 {
    height: unset !important;
  }
}

.submenu-item6::before {
  content: "Zoom" !important;
  position: relative;
  left: 33px;
}

@media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
  .submenu-item6::before {
    left: 29px;
  }  
}

@media (-moz-platform: macos) {
  .submenu-item6:before {
    left: 23px;
  }
}

@media (-moz-platform: linux) {
  .submenu-item5:before,
  .submenu-item6:before {
    left: 28px;
  }
}

.submenu-item7::after {
  content: "Ctrl+S" !important;
}

.submenu-item8::after {
  content: "Ctrl+F" !important;
}

.submenu-item9::after {
  content: "Ctrl+P" !important;
}

.submenu-item11::after {
  content: "Ctrl+H" !important;
}

.submenu-item12::after {
  content: "Ctrl+J" !important;
}

.submenu-item10-3::after {
  content: "Shift+Esc" !important;
}

.submenu-item10-4::after {
  content: "Ctrl+Shift+Del" !important;
}

.submenu-item10-6::after {
  content: "Ctrl+U" !important;
}

@media (-moz-platform: macos) {
  .submenu-item7:after {
    content: "⌘+S" !important;
  }
  
  .submenu-item8:after {
    content: "⌘+F" !important;
  }
  
  .submenu-item9:after {
    content: "⌘+P" !important;
  }
  
  .submenu-item11:after {
    content: "⌘+H" !important;
  }
  
  .submenu-item12:after {
    content: "⌘+J" !important;
  }
  
  .submenu-item10-3:after {
    content: "⇧+Esc" !important;
  }
  
  .submenu-item10-4:after {
    content: "⌘+⇧+Del" !important;
  }
  
  .submenu-item10-6:after {
    content: "⌘+U" !important;
  }
}

.submenu-item18 {
  max-width: 41px !important; 
  position: relative;
  top: -163px;
  max-height: 22px !important;
  left: 126px;
}

.submenu-item19 {
  max-width: 41px !important; 
  position: relative;
  top: -185px;
  max-height: 22px !important;
  left: 168px;  
}

.submenu-item20 {
  max-width: 41px !important; 
  position: relative;
  top: -207px;
  max-height: 22px !important;
  left: 210px;
}

.submenu-item21 {
  max-width: 25px !important; 
  position: relative;
  top: -202px;
  max-height: 22px !important;
  left: 124px;
}

.submenu-item22 {
  max-width: 41px !important; 
  position: relative;
  top: -224px;
  max-height: 22px !important;
  left: 150px;
}

.submenu-item23 {
  max-width: 25px !important; 
  position: relative;
  top: -246px;
  max-height: 22px !important;
  left: 192px;
}

.submenu-item24 {
  max-width: 30px !important; 
  position: relative;
  top: -268px;
  max-height: 22px !important;
  left: 221px;
}

.minimizeButton,
.zoomLevelButton,
.maximizeButton,
.fullscreenButton,
.cutButton,
.copyButton, 
.pasteButton {
  max-height: 21px !important;
  min-width: auto !important;
  margin-right: -5px !important;
  align-items: center;
  justify-content: center;
}

.cutButton {
  margin-left: 120px !important;
}

.minimizeButton {
  margin-left: 112px !important;
}

@media (-moz-platform: macos) {
  .cutButton {
    margin-left: 100px !important;
  }
  
  .minimizeButton {
    margin-left: 70px !important;
  }
}


.fullscreenButton::before {
  content: url(../../assets/images/middlebar/hamfullscreen.png);
  position: relative;
  top: 2px;
}

.fullscreenButton,
.zoomLevelButton,
.maximizeButton,
.minimizeButton,
.cutButton,
.copyButton,
.pasteButton {
  appearance: unset !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  border-radius: 3px !important;
  border: 1px solid #d5d5d5 !important;
  background: transparent !important;
  max-width: 40px !important;
}

.fullscreenButton:hover,
.zoomLevelButton:hover,
.maximizeButton:hover,
.minimizeButton:hover,
.cutButton:hover,
.copyButton:hover,
.pasteButton:hover {
  border-color: grey !important;
}

.fullscreenButton {
  position: relative !important;
  top: 1px !important;
}