/* Identity panel (semi-broken) */

/* Triangle shape */
#identity-popup::before {
  content: "▲" !important;
  font-size: 27px; 
  color: white !important;
  z-index: 999 !important;
  margin-left: 10px !important;
  margin-top: -10px !important;
  margin-bottom: -18px !important;
}


/* Sizing and border */
#identity-popup {
    --panel-border-radius: 5px !important;
    --panel-border-color: grey !important;
    max-width: 318px !important;
    margin-left: -8px !important;
  
}

/* Header (Website name) */

#identity-popup-mainView-panel-header-span {
  position: fixed !important;
  top: 0;
  left: 0;
  margin-left: -134px !important;
  margin-top: 14px;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12.5px !important; 
}

/* Hiding trick */
#identity-popup-mainView-panel-header-span:before {
  content: "white" !important;
  background: white !important;
  color: white !important;
  position: relative !important;
  right: -122px !important;
}


.identity-popup-warning-box.identity-popup-warning-yellow {
  display: none;
}


/* Chrome's borders */
#identity-popup-mainView-panel-header:after {
  content: url(../../assets/images/middlebar/secborder.png) !important;
  position: fixed !important;
  top: 55px;
  left: 0;
}


/* Identity info based on website's security level */
#identity-popup[connection="secure"] [when-connection~="secure"]:after {
  content: "Identity verified" !important;
  color: #599743 !important;
  position: fixed !important;
  top: 35px !important;
  font-family: "Segoe UI", sans-serif !important;
  left: 21px !important;
  font-size: 11.5px !important;
  display: block !important;
  font-weight: 500;
}
#identity-popup[connection=secure-cert-user-overridden] [when-connection~=secure-cert-user-overridden]:after,
#identity-popup[connection=not-secure] [when-connection~=not-secure]:after {
  content: "Identity not verified" !important;
  color: black !important;
  position: fixed !important;
  top: 35px !important;
  font-family: "Segoe UI", sans-serif !important;
  left: 21px !important;
  font-size: 11.5px !important;
  display: block !important;
  font-weight: 500;
}

#identity-popup-security-button {
  margin-top: 7px !important;
}

#identity-popup-securityView toolbarseparator,
#identity-popup-mainView toolbarseparator {
  display: none !important;
}

#identity-popup-security-button {
  list-style-image: none !important;
  position: relative !important;
  left: 88px !important;
  font-weight: bold;
  color: #666666 !important;
  font-size: 0px !important;
}

#identity-popup-security-button:hover {
  box-shadow: none !important;
  border: none !important;
  box-sizing: none !important;
  background: transparent !important;
  cursor: pointer;
  width: 165px !important;  
}

#identity-popup-security-button:after {
  content: "Connection" !important;
  position: fixed !important;
  left: 118px !important;
  color: #666666 !important;
  font-size: 12px !important;
}

#identity-popup-security-button:before {
  content: "Permissions" !important;
  position: fixed !important;
  left: 34px !important;
  pointer-events: none;
  color: black !important;
  font-size: 12px !important;
}

#identity-popup-clear-sitedata-button {
  color: #5498dc !important;
  text-decoration: underline !important;
  margin-top: -314px !important;
  margin-left: 13.5px !important;
}

#identity-popup-clear-sitedata-button:hover {
  box-shadow: none !important;
  border: none !important;
  box-sizing: none !important;
  background: transparent !important;
  cursor: pointer;
  width: 165px !important;
}

.identity-popup-security-content:before {
  content: "Cookies and site data" !important;
  position: fixed !important;
  top: 100px !important;
  left: 22px !important;
  font-weight: bold;
  color: black !important;
  pointer-events: none !important;
}

.identity-popup-security-content:after {
  content: url(../../assets/images/middlebar/permissionspane.png) !important;
  position: fixed !important;
  top: 165px !important;
  left: 13.8px !important;
  pointer-events: none !important; 
}

#identity-popup-multiView > .panel-viewcontainer[panelopen] {
  height: 445px !important;
}

#identity-popup-securityView::after {
  content: url(../../assets/images/middlebar/conborder.png) !important;
  position: fixed !important;
  top: 55px;
  left: 0;
  z-index: 5 !important;
}


.identity-popup-security-connection-icon {
  visibility: hidden !important;
}

.panel-header:not(.panel-header-with-info-button) > .subviewbutton-back + h1 {
  position: fixed !important;
  left: 0 !important;
  margin-left: -122.5px !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 12.5px !important;
}

.panel-header:not(.panel-header-with-info-button) > .subviewbutton-back + h1::after {
  content: "aaa" !important;
  color: white !important;
  background: white !important;
  position: fixed !important;
  left: 0 !important;
  margin-left: -1px !important;
}

.subviewbutton.subviewbutton-iconic.subviewbutton-back {
  position: fixed !important;
  top: 53px !important;
  left: 28px !important;
  color: transparent;
  z-index: 999 !important;
}

.subviewbutton.subviewbutton-iconic.subviewbutton-back::before {
  content: "Permissions" !important;
  color: #666666 !important;
  font-weight: bold;
}

.subviewbutton.subviewbutton-iconic.subviewbutton-back:hover {
  box-shadow: none !important;
  border: none !important;
  box-sizing: none !important;
  background: transparent !important;
  cursor: pointer;
  width: 75px !important;
  list-style-image: none !important;
}


.subviewbutton.subviewbutton-iconic.subviewbutton-back::after {
  content: "Connection" !important;
  color: black !important;
  font-weight: bold;
  position: fixed !important;
  left: 128px !important;
  pointer-events: none !important;
}

.identity-popup-connection-secure.security-view {
  margin-top: 45px !important;
  padding-bottom: 10px !important;
  
}

.identity-popup-connection-not-secure.security-view {
  color: white;
}

description[when-connection="secure secure-ev"]::before {
  content: url(../../assets/images/middlebar/secureinfo.png) !important;
  background-repeat: no-repeat;
  margin-left: -20px !important;
  padding-right: 5.5px !important;
  position: relative !important;
  top: 6px;
}

description[when-connection="not-secure cert-error-page net-error-page https-only-error-page"]::before {
  content: url(../../assets/images/middlebar/notsecureinfowarning.png) !important;
  background-repeat: no-repeat;
  margin-left: -34px !important;
  position: relative !important;
  padding-right: 4px;
  top: 25px;
}

#identity-popup[ciphers="weak"] .identity-popup-security-connection, #identity-popup[mixedcontent~="passive-loaded"][isbroken] .identity-popup-security-connection {
  list-style-image: none !important;
}

description[when-connection="not-secure cert-error-page net-error-page https-only-error-page"] {
  margin-left: 29px !important;  
  margin-top: 0px !important;
  max-width: 270px !important;
}

description[when-mixedcontent="passive-loaded"] {
  margin-left: 29px !important;  
  margin-top: -4px !important;
  max-width: 270px !important;
}

description[when-mixedcontent="passive-loaded"]::before {
  content: url(../../assets/images/middlebar/notsecureinfowarning.png) !important;
  background-repeat: no-repeat;
  margin-left: -35px !important;
  position: relative !important;
  padding-right: 5px;
  top: 16px;
}

description[when-connection="secure secure-ev secure-cert-user-overridden"] {
  margin-left: 0px !important;  
  max-width: 300px !important;  
  margin-block: -0.7em !important;
  position: relative;
  top: 15px;
}


description[when-connection="secure secure-ev secure-cert-user-overridden"]::before {
  content: url(../../assets/images/middlebar/secureinfo.png) !important;
  background-repeat: no-repeat;
  margin-left: 4px !important;
  padding-right: 5.5px !important;
  position: relative !important;
  top: 7px;
}

#identity-popup-securityView-extended-info > button {
  min-width: 10px !important;
  max-width: 160px !important;
  margin-top: 65px !important;
  margin-left: -15px !important;
  appearance: none !important;
  background: white !important;
  border: 0px !important;
  color: #5498dc !important;
  text-decoration: underline !important;
  margin-left: -10px !important;
  cursor: pointer;
}

button[label="Remove Exception"]::before {
  content: url(../../assets/images/middlebar/untrustedinfo.png) !important;
  background-repeat: no-repeat;
  margin-left: 12px !important;
  position: relative !important;
  top: 2px;

}

#identity-popup[connection^="secure"] .identity-popup-security-connection {
  list-style-image: none !important;
}

description[when-connection="not-secure cert-error-page net-error-page https-only-error-page"],
description[when-connection="secure secure-ev"],
description[when-mixedcontent="passive-loaded"],
description[when-connection="secure secure-ev secure-cert-user-overridden"],
description[when-connection="secure secure-ev"] {
  padding-bottom: 10px !important;
  margin-left: -50px !important;
  padding-left: 50px !important;
  min-width: 150% !important;
  border-bottom: 1px solid #e9e9e9 !important;
}

#identity-popup-more-info {
  color: #5498dc !important;
  text-decoration: underline !important;
  margin-left: 13.5px !important;
}

#identity-popup-more-info:hover {
  box-shadow: none !important;
  border: none !important;
  box-sizing: none !important;
  background: transparent !important;
  cursor: pointer;
  width: 110px !important;
}
