/* Identity panel (semi-broken) */

/* Triangle shape */
#identity-popup::before {
  content: "▲" !important;
  font-size: 27px; 
  color: white !important;
  z-index: 999 !important;
  margin-left: 10px !important;
  margin-top: -10px !important;
  margin-bottom: -18px !important;
}


/* Sizing and border */
#identity-popup {
    --panel-border-radius: 5px !important;
    --panel-border-color: grey !important;
    min-width: 318px !important;
    margin-left: -8px !important;
}

#identity-popup[connection="chrome"] {
    min-width: auto !important;
}

#identity-popup .panel-viewcontainer {
  display: none !important;
}

#identity-popup-multiView {
  display: block !important;
}


/* Custom added styling */

.connectionView,
.permsView {
    display: none;
}

.secureChrome {
    display: none !important;
}

#identity-popup[connection="chrome"] .secureChrome {
    display: flex !important;
    padding-left: 10px;
    padding-right: 10px;
}

@supports not (-moz-bool-pref("silverfox.beChromium")) {
    #identity-popup[connection="chrome"] .chromiumLogo {
        display: none !important;
}
    
    #identity-popup[connection="chrome"] .chromiumView {
        display: none !important;
}   
}

@supports (-moz-bool-pref("silverfox.beChromium")) {
    #identity-popup[connection="chrome"] .chromeLogo {
        display: none !important;
}
    
    #identity-popup[connection="chrome"] .chromeView {
        display: none !important;
}   
}
  
.secureChrome img {
    width: 32px;
    height: 32px;
    margin-top: 5px;
    padding-right: 5px;
}
  
.secureChrome p {
    font-size: 12px;
}

.connectionView[active="true"],
.permsView[active="true"] {
    display: block;
}

.connectionView,
.siteInfo,
.permissionsTab,
.cookiesTab,
.pagesTab {
    padding-left: 15px;
}

.firstThing {
    display: flex;
}

.closepopup {
    width: 16px;
    height: 16px;
    padding-left: 190px;
    margin-top: 15px;
}

.closepopup:hover {
    content: url("chrome://userchrome/content/pages/homepage/assets/close_hover.png");
}

.identityInfo p {
    font-size: 12px;
    margin-top: -10px;
}

.identityNotVerified,
.identityVerified {
    display: none !important;
}

#identity-popup[connection="chrome"] .siteInfo,
#identity-popup[connection="chrome"] .pagesTab,
#identity-popup[connection="chrome"] .permsView,
#identity-popup[connection="chrome"] .permissionTab,
#identity-popup[connection="chrome"] .connectionView {
    display: none !important;
}

#identity-popup[connection="secure"] .identityVerified {
    display: block !important;
}

#identity-popup[connection="not-secure"] .identityNotVerified,
#identity-popup[connection="cert-error-page"] .identityNotVerified {
    display: block !important;
}

.identityVerified {
    color: darkgreen !important;
}

.firstThing p {
    font-weight: bold;
    font-size: 14px;
}

.fakeBorder {
    font-size: 0px;
    border-top: 1px solid rgb(204, 204, 204);
    margin-left: -15px;
    margin-top: 2px;
}

.pagesTab a {
    text-decoration: none !important;
    color: grey !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

.connectionPage,
.permissionPage {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
}

.connectionPage[active="true"],
.permissionPage[active="true"] {
    border-top: 1px solid rgb(204, 204, 204);
    border-right: 1px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
    border-bottom: 4px solid transparent;
    background: white !important;
    color: black !important;
}

.connectionView[active="true"] {
    padding-bottom: 180px;
}

.cookiesTab p,
.permissionsTab p {
    font-size: 12px;
    font-weight: bold;
}

.cookiesTab a {
    font-size: 12px;
}

.permissionsTab img {
    margin-top: -5px;
    padding-bottom: 5px;
}

.verifiedView {
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 12px;
    padding-bottom: 15px;
}

.infoView {
    border-bottom: 1px solid rgb(204, 204, 204);
    font-size: 12px;  
}

.keepMeInfo,
.keepMeSafe {
    margin-top: 12px;
    display: flex;
}

.keepMeInfo img,
.keepMeSafe img {
    width: 29px;
    height: 28px;
    padding-right: 5px;
    margin-top: 5px;
}

.keepMeSafe img[type="runaway"],
.keepMeSafe p[type="runaway"],
.keepMeSafe img[type="notsecure"],
.keepMeSafe p[type="notsecure"],
.keepMeSafe img[type="secure"],
.keepMeSafe p[type="secure"] {
    display: none !important;
}

#identity-popup[connection="secure"] .keepMeSafe img[type="secure"],
#identity-popup[connection="secure"] .keepMeSafe p[type="secure"] {
    display: block !important;
}

#identity-popup[connection="not-secure"] .keepMeSafe img[type="notsecure"],
#identity-popup[connection="not-secure"] .keepMeSafe p[type="notsecure"] {
    display: block !important;
}

#identity-popup[connection="cert-error-page"] .keepMeSafe img[type="runaway"],
#identity-popup[connection="cert-error-page"] .keepMeSafe p[type="runaway"] {
    display: block !important;
}

.certificateInfo {
    margin-left: 35px;
}

.keepMeInfo p {
    font-weight: bold;
    margin-top: 3px;
}

.visitedToday {
    margin-left: 35px;
    margin-top: -14px;
}

.whatMean {
    font-size: 12px !important;
    margin-left: 5px !important;
    position: relative !important;
    top: 5px;
}