/* OS Behaviour Themes for Light/Dark/System and Custom Themes */
/* Changes Navigator Toolbox, NavBar and Personal Toolbar */
/* ONLY ON WINDOWS 10, use silverfox.hasAeroGlass to enable Aero - only for DWMBlurGlass or Aeroglass */
/* Windows 8/8.1 users with Aeroglass, no need for any bool */

/* To remove redundancy, Light Theme becomes Classic Chrome Blue theme & System theme becomes Native theme, unless specified */

/* Generic Windows Light and Dark Mode, excluding custom theme */

@media (-moz-platform: windows),
       (-moz-platform: linux),
       (-moz-platform: macos) {

/* Tabs */

/* For Light make text black */
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tab-content {
    color: black !important;
} 
 
/* Light mode and System theme */

:root:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
        background: #dce1e7 !important;  
        filter: grayscale(30%) brightness(103%) !important;
}
           
:root:not(:-moz-lwtheme) .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
        background: #dce1e7 !important;
        opacity: 95% !important;
}
 
/* Classic Blue*/           
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
        background-image: linear-gradient(to bottom, #a3c8f4 0%, #9cc2f1 100%) !important;
        filter: grayscale(30%) brightness(103%) !important;
}
           
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
        background-image: linear-gradient(to bottom, #a3c8f4 0%, #9cc2f1 100%) !important;
        opacity: 95% !important;
}
           
:root[privatebrowsingmode="temporary"][style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
        background-image: linear-gradient(to bottom, #b4bec9 0%, #a0aebe 100%) !important;
        filter: grayscale(30%) brightness(103%) !important;          
}        

:root[privatebrowsingmode="temporary"][style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
        background-image: linear-gradient(to bottom, #b4bec9 0%, #a0aebe 100%) !important;
        opacity: 0.95 !important;
}
           
           
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab[visuallyselected="true"] .tab-background {
        background-image: linear-gradient(to top, #f5f5f5 0%, #ffffff 100%) !important;
}
    
    
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background:before,
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background:after,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab[visuallyselected="true"] .tab-background:before,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab[visuallyselected="true"] .tab-background:after {
        background: #f5f5f5 !important;
}    
    
  
/* Dark mode and custom themes  */
  
:root:is(
  [style*="--lwt-header-image"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
    background-color: var(--toolbar-field-focus-background-color) !important;  
    filter: grayscale(30%) brightness(103%) !important;
}
      
:root:is(
  [style*="--lwt-header-image"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab[visuallyselected="true"] .tab-background {
    background-image: linear-gradient(to top, var(--toolbar-field-focus-background-color) 30%, transparent 150%) !important;
}
    
:root:is(
  [style*="--lwt-header-image"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab[visuallyselected="true"] .tab-background:before {
    background: var(--toolbar-field-focus-background-color) !important;
}

:root:is(
  [style*="--lwt-header-image"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab[visuallyselected="true"] .tab-background:after {
    background: var(--toolbar-field-focus-background-color) !important;
}    
 
/* For no image custom themes, add a nice gradient to selected tab */    
:root:-moz-lwtheme:not(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(240, 240, 244)"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab[visuallyselected="true"] .tab-background {
     background-image: linear-gradient(to bottom, var(--toolbar-field-focus-background-color) 0%, var(--lwt-accent-color) 60%) !important;   
}       
    
:root:is(
  [style*="--lwt-header-image"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
    background-image: linear-gradient(to top, var(--toolbar-field-focus-background-color) 40%, transparent 110%) !important;
    filter: contrast(90%) !important;
}  

/* For no image custom themes, add a nice gradient to non-selected tab */    
:root:-moz-lwtheme:not(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(240, 240, 244)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
     background-image: linear-gradient(to top, var(--toolbar-field-focus-background-color) 0%, var(--lwt-accent-color) 60%) !important;   
}          
    
:root:-moz-lwtheme:not(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(240, 240, 244)"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab[visuallyselected="true"] .tab-background:before {
     background: var(--lwt-accent-color) !important;   
}

:root:-moz-lwtheme:not(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-accent-color: rgb(240, 240, 244)"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [style*="--lwt-additional-images"]
) .tabbrowser-tab[visuallyselected="true"] .tab-background:after {
     background: var(--lwt-accent-color) !important;  
}    
    
/* NavBar */
 
:root:not(:-moz-lwtheme) #nav-bar,    
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #nav-bar {
    background-image: linear-gradient(to top, #e3e3e3 0%, #f5f5f5 100%) !important;
}

:root:is(
  [style*="--lwt-header-image"],
  [style*="--lwt-accent-color: rgb(28, 27, 34)"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
)  #nav-bar {
    background-image: linear-gradient(to bottom, var(--toolbar-field-focus-background-color) 25%, transparent 100%) !important;
}  
  
/* Personal Toolbar only for light mode and system */

:root:not(:-moz-lwtheme) #PersonalToolbar,    
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #PersonalToolbar {
     background-image: linear-gradient(to bottom, #e3e3e3 0%, #dfdfdf 100%) !important; 
}
}

/* Classic Blue gradient for TabsToolbar*/

:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #TabsToolbar {
    background-image: linear-gradient(to top, #406dc2 0%, #406dc2 10%, #6192dc 97%, #6192dc 100%) !important;    
}

:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #navigator-toolbox,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #navigator-toolbox-background {
    background: #6192dc !important;
}

:root[privatebrowsingmode="temporary"][style*="--lwt-accent-color: rgb(240, 240, 244)"] #TabsToolbar {
    background-image: linear-gradient(to top, #526d92 0%, #526d92 10%, #617a9c 97%, #617a9c 100%) !important;    
}

:root[privatebrowsingmode="temporary"][style*="--lwt-accent-color: rgb(240, 240, 244)"] #navigator-toolbox,
:root[privatebrowsingmode="temporary"][style*="--lwt-accent-color: rgb(240, 240, 244)"] #navigator-toolbox-background {
    background: #617a9c !important;
}


/* Specialized cases for different OS behaviours */

/* Windows 10/11 */
@media (-moz-platform: windows-win10) {
@supports not (-moz-bool-pref("silverfox.hasAeroGlass")) {   
  
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #navigator-toolbox,
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #navigator-toolbox-background {
     background-color: transparent !important;
}
}


/* Windows Aero for Windows 10, if flag is enabled*/
    
@supports (-moz-bool-pref("silverfox.hasAeroGlass")) {

#TabsToolbar {
    background-image: none !important;
}
    

:root[native="true"] #navigator-toolbox,
:root[native="true"] #navigator-toolbox-background,
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #navigator-toolbox,
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #navigator-toolbox-background {
     background-color: transparent !important;
}    
:root {
     background-color: transparent !important;
     appearance: auto !important;
     -moz-default-appearance: -moz-win-borderless-glass !important;
}

/* Firefox draws a white color over the TabsToolbar, NavBar and Personal Toolbar, artifically */
/* Remove that white color to enable true Aero */
#appcontent {
    appearance: auto !important;
    -moz-default-appearance: -moz-win-exclude-glass !important;
}
}
}

/* Windows Aero except for Windows 10 */

@media (-moz-windows-glass) {
   
#TabsToolbar {
    background-image: none !important;
}       
}


/* Proper Dark mode for Win 7 and 8, including Aero*/

@media (-moz-platform: windows-win7),
       (-moz-platform: windows-win8) {

:root[style*="--lwt-accent-color: rgb(28, 27, 34)"]  #nav-bar {
    background-image: linear-gradient(to bottom, var(--toolbar-field-focus-background-color) 25%, rgb(28, 27, 34) 100%) !important;
}
           
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"]  #PersonalToolbar {
    background: rgb(28, 27, 34) !important;
    color: white !important;
}           
                                            
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] .tab-content {
    color: var(--lwt-text-color) !important;
}                      
}
    
    
/* Proper Dark mode for Win 10 with Aero*/

@media (-moz-platform: windows-win10) {

@supports (-moz-bool-pref("silverfox.hasAeroGlass")) {
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"]  #nav-bar {
    background-image: linear-gradient(to bottom, var(--toolbar-field-focus-background-color) 25%, rgb(28, 27, 34) 100%) !important;
}
           
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"]  #PersonalToolbar {
    background: rgb(28, 27, 34) !important;
    color: white !important;
}           
                                            
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] .tab-content {
    color: var(--lwt-text-color) !important;
}  
}
}
    
     


/* Aero Basic and Classic have Blue mode regardless of setting, besides custom themes */
@media (-moz-platform: windows) {
@media (-moz-windows-compositor: 0),
       (-moz-windows-classic) {
  
:root:not(
       [style*="--lwt-header-image"],
       [lwtheme-image],
       [lwtheme],
       [style*="--lwt-additional-images"]
) #TabsToolbar {
    background-image: linear-gradient(to top, #406dc2 0%, #406dc2 10%, #6192dc 97%, #6192dc 100%) !important;
}

:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #TabsToolbar,  
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #TabsToolbar {
    background-image: linear-gradient(to top, #406dc2 0%, #406dc2 10%, #6192dc 97%, #6192dc 100%) !important;    
}

:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #navigator-toolbox,
:root[style*="--lwt-accent-color: rgb(28, 27, 34)"] #navigator-toolbox-background,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #navigator-toolbox,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #navigator-toolbox-background {
    background: #6192dc !important;
} 

:root:not(
           [style*="--lwt-header-image"],
           [lwtheme-image],
           [lwtheme],
           [style*="--lwt-additional-images"]
          ) #titlebar {
  appearance: none !important;
  background: #6192dc !important;
}    
}
    
 /* For Light and System, make text black for Windows Classic */
@media (-moz-windows-classic) {

:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tab-content,
:root:not(:-moz-lwtheme) .tab-content {
    color: black !important;
} 
}   
}


/* Linux */

@media (-moz-platform: linux) {

:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tab-content,
:root:not(:-moz-lwtheme) .tab-content { /* Tab text colour fix */
    color: black !important;
}    

/* Linux System Theme */
/* Tabs */
@supports (not -moz-bool-pref("silverfox.beChromeOS")) and (not -moz-bool-pref("silverfox.forceWindowsStyling")) {
:root:not(:-moz-lwtheme) .tab-text {
  color: -moz-DialogText !important;
}

:root:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
    background: color-mix(in srgb, Field 56%, ActiveCaption) !important;
    filter: grayscale(30%) brightness(103%) !important;
}
:root:-moz-window-inactive:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
    background: color-mix(in srgb, Field 56%, InactiveCaption) !important;
}

:root:not(:-moz-lwtheme) .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
  background: color-mix(in srgb, Field 56%, ActiveCaption) !important;
  opacity: 100% !important;
}
:root:-moz-window-inactive:not(:-moz-lwtheme) .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
  background: color-mix(in srgb, Field 56%, InactiveCaption) !important;
}

:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background {
  background-image: linear-gradient(to top,
                          color-mix(in srgb, white 14%, -moz-dialog) 0%,
                          color-mix(in srgb, white 22%, -moz-dialog) 100%) !important;
}


:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background:before,
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background:after {
  background: color-mix(in srgb, white 14%, -moz-dialog) !important;
}


/* NavBar */
:root:not(:-moz-lwtheme) #nav-bar {
  background-image: linear-gradient(to top,
                          -moz-dialog 0%,
                          color-mix(in srgb, white 14%, -moz-dialog) 100%) !important;
}

/* Personal Toolbar only for light mode and system */

:root:not(:-moz-lwtheme) #PersonalToolbar {
  background-image: linear-gradient(to bottom,
                          -moz-dialog 0%,
                          color-mix(in srgb, black 4%, -moz-dialog) 100%) !important;
}
}   

/* Light theme */

:root:-moz-lwtheme[style*="--lwt-accent-color: rgb(240, 240, 244)"] #titlebar {
  border-top-left-radius: env(-moz-gtk-csd-titlebar-radius) !important;
  border-top-right-radius: env(-moz-gtk-csd-titlebar-radius) !important;
}


/* Fix for upstream menu appearance issue */
menupopup {
    --panel-background: Field !important;
    --panel-color: FieldText !important;
    --panel-border-color: ThreeDShadow !important;
}
    
    
/* Chrome OS mode */
    
@supports (-moz-bool-pref("silverfox.beChromeOS")) {

    :root:not(:-moz-lwtheme) .tabbrowser-tab:not([visuallyselected="true"]):hover .tab-background {
            background: #CBCBCB !important;
            filter: grayscale(30%) brightness(103%) !important;
    }
    
    :root:not(:-moz-lwtheme) .tabbrowser-tab:not(:hover):not([visuallyselected="true"]) .tab-background {
            background: #CBCBCB !important;
            opacity: 95% !important;
    }
    
    :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) #navigator-toolbox,
    :root[tabsintitlebar][sizemode="normal"]:not([gtktiledwindow="true"]) dialog {
      border-top-left-radius: 2px !important;
      border-top-right-radius: 2px !important;
    }
         
    :root:not(:-moz-lwtheme) #TabsToolbar {
        background-image: linear-gradient(to top, #C2C2C4 100%, #C2C2C4 100%) !important;
    }
    :root:not(:-moz-lwtheme)[sizemode="maximized"] #TabsToolbar {
        background-image: linear-gradient(to top, black 100%, black 100%) !important;
    }
    
    :root:not(:-moz-lwtheme) #navigator-toolbox,
    :root:not(:-moz-lwtheme) #navigator-toolbox-background {
        background: #C2C2C4 !important;
    }
    :root:not(:-moz-lwtheme)[sizemode="maximized"] #navigator-toolbox,
    :root:not(:-moz-lwtheme)[sizemode="maximized"] #navigator-toolbox-background {
        background: black !important;
    }
    
    :root[privatebrowsingmode="temporary"][native="true"] #TabsToolbar {
        background-image: linear-gradient(to top, #526d92 0%, #526d92 10%, #617a9c 97%, #617a9c 100%) !important;    
    }
    
    :root[privatebrowsingmode="temporary"][native="true"] #navigator-toolbox,
    :root[privatebrowsingmode="temporary"][native="true"] #navigator-toolbox-background {
        background: #617a9c !important;
    }   
       
    :root:not(:-moz-lwtheme) #PersonalToolbar,   
    :root:not(:-moz-lwtheme) .tab-text {
        color: black !important;
    }        
    }
    }

/* MacOS */

@media (-moz-platform: macos) {
#TabsToolbar {
        margin-top: 5px;
}
    
 .titlebar-buttonbox-container {
        margin-top: -10px;
}
    
:root:not(:-moz-lwtheme) #navigator-toolbox,
:root:not(:-moz-lwtheme) #navigator-toolbox-background {
    background: linear-gradient(to bottom, #e6e6e6 0%, #c7c7c7 40%) !important;
}      
    
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab[visuallyselected="true"] .tab-background {
        background-image: linear-gradient(to top, #e5e5e5 20%, #f3f4f4 100%) !important;
}
    
    
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background:before,
:root:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] .tab-background:after,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab[visuallyselected="true"] .tab-background:before,
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] .tabbrowser-tab[visuallyselected="true"] .tab-background:after {
        background: #e5e5e5 !important;
}     
  
    
/* NavBar */
 
:root:not(:-moz-lwtheme) #nav-bar,    
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #nav-bar {
    background-image: linear-gradient(to bottom, #e5e5e5 0%, #cecfcf 100%) !important;
}
  
  
/* Personal Toolbar only for light mode and system */

:root:not(:-moz-lwtheme) #PersonalToolbar,    
:root[style*="--lwt-accent-color: rgb(240, 240, 244)"] #PersonalToolbar {
     background-image: linear-gradient(to top, #cecfce 0%, #cecfcf 100%) !important; 
}     
}