/* TabsToolbar (Tabs, New Tab) */

/* Chrome's default gap */
#TabsToolbar {
  margin-top: 11px;
  margin-bottom: -6px !important;
}

/* Remove the gap for Linux if native titlebars are enabled */
@media (-moz-platform: linux) {
  :root:not([tabsintitlebar="true"]) #TabsToolbar {
    margin-top: -4px !important;
  }
  /* Additionally, enforce Chrome OS's larger gap */
  @supports (-moz-bool-pref("silverfox.beChromeOS")) {
    :root[sizemode="normal"] #TabsToolbar {
      margin-top: 6px !important;
    }
  }
}

/* Remove the gap when Firefox is fullscreen */
:root:not([sizemode="normal"]) #TabsToolbar {
  margin-top: -5px;
  margin-bottom: 0px !important;
}
/* ...unless we're on Linux. */
@media (-moz-platform: linux) {
  :root:not([sizemode="normal"]) #TabsToolbar {
    margin-top: -4px !important;
  }
  /* Chrome OS has a larger gap */
  @supports (-moz-bool-pref("silverfox.beChromeOS")) {
    :root:not([sizemode="normal"]) #TabsToolbar {
      margin-top: 0 !important;
    }
  }
}

/* Remove All Tabs  */
#alltabs-button {
  display: none !important;
}


/* Fix the gap added to the titlebar in normal and fullscreen */
@media (-moz-platform: windows) {
.titlebar-buttonbox-container {
  margin-top: -30px;
}
:root:not([sizemode="normal"]) .titlebar-buttonbox-container {
  margin-top: -5px;
}
}


/* Remove tabs overflow buttons */
toolbarbutton#scrollbutton-up, 
toolbarbutton#scrollbutton-down {
  display: none !important;
}

/* Tighten up tabs overflow portion */
.scrollbox-clip {
  max-width: 1522px !important;
}


/* Make tabs be one on top of next  */
#tabbrowser-arrowscrollbox .tabbrowser-tab[visuallyselected="true"] {
  z-index: 51 !important; 
}
#tabbrowser-arrowscrollbox .tabbrowser-tab:not([visuallyselected="true"]) {
  z-index: 1 !important;
}
.tabbrowser-tab[visuallyselected="true"],
tab:where(:first-of-type[visuallyselected="true"]) {
    z-index: 5 !important; 
}
.tabbrowser-tab:not([visuallyselected="true"], [multiselected]), .tabbrowser-tab:-moz-lwtheme {
  z-index: 1 !important;
}

/* Fix for dragging tabs around */
#tabbrowser-tabs[movingtab] {
  margin-bottom: -9px !important;
}

#tabbrowser-arrowscrollbox {
  min-height: 1px !important;
  max-height: 30px !important;
}

/* Size of tabs */
.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) { 
  max-width: 219px !important;
}
.tabbrowser-tab:not([pinned]) {
  max-width: 204px !important;
}


/* Chrome's tabs trapzoid shape */
.tab-background {
	transform: perspective(45px) rotateX(12deg) translateY(-2.7px);
	border-top: 1.75px solid #828282 !important;
  border-right: 1.75px solid #828282 !important;
  border-left: 1.75px solid #828282 !important;
  border-radius: 4px 4px 0px 0px !important; /*topR topL bottomR bottomL*/
	position: absolute;
	width: 97% !important;
  box-shadow: 3px 0 5px -5px #999, -3px 0 5px -5px #999 !important;
}

/* Make tabs rounded for each bottom side, only for selected tab */
.tabbrowser-tab[visuallyselected="true"] .tab-background:before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: -3px;
  width: 3px;
  height: 5px;
  transform: rotate(40deg);
  background: #f5f5f5;
  transform-origin: 100% 100%;
}

.tabbrowser-tab[visuallyselected="true"] .tab-background:after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: -2px;
  width: 3px;
  height: 3px;
  background: #f5f5f5;
  transform: rotate(-40deg);
  transform-origin: 0% 100%;
}

/* Since reduced motion is not necessary anymore, a fix for stuck New Tab and dragging tabs around */
/* Thanks Travis */

.tabbrowser-tab:not([pinned]) {
  transition: min-width 200ms ease-out, max-width 250ms ease-out , opacity 50ms ease-out 20ms !important;
}

@media (prefers-reduced-motion: no-preference) {
  #tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > .tabbrowser-tab[fadein]:not([selected]):not([multiselected]),
  .tabbrowser-tab[tab-grouping],
  .tabbrowser-tab[tabdrop-samewindow] {
    transition: transform 0.001ms var(--animation-easing-function), min-width 200ms ease-out, max-width 250ms ease-out , opacity 50ms ease-out 20ms !important;
  }
}

.tabbrowser-tab:not([pinned]):not([fadein]) {
  max-width: 0.1px !important;
  min-width: 0.1px !important;
  opacity: 0 !important;
  transition: min-width 200ms ease-out, max-width 250ms ease-out , opacity 50ms ease-out 100ms !important;
}

.tabbrowser-tab[visuallyselected="true"] {
  z-index: 999 !important;
}


/* Fix for pinned state */
.tabbrowser-tab[visuallyselected="true"][pinned] .tab-background:before,
.tabbrowser-tab[visuallyselected="true"][pinned] .tab-background:after {
  bottom: 4px;
}


/* Tab content (text, favicon etc) area position fix and color if themeing is disabled */
.tab-content {
  margin-top: -5px !important;
  font-weight: 500 !important;
}

/* Because some themes are low effort, disable active tabs outline color */
#tabbrowser-tabs {
--lwt-tab-line-color: transparent !important; 
}

.tabbrowser-tab {
  margin-top: 1.5px !important;
}

/* No blue swipe on tabs when loaded */
.tabbrowser-tab .tab-loading-burst {
  display: none !important;
}

/* Removes secondary label (Playing, Muted etc.) */
.tab-secondary-label {
  display: none !important;
}

/* Removes sound playing overlay favicon */
.tab-icon-overlay {
  display: none;
}
.tab-icon-image {
  opacity: 1 !important;
}


/* Slight fix for tabs initial position */
.tab-stack {
  margin-left: 5px;
}

/* Pinned tabs styling  */
.tabbrowser-tab[pinned] {
  padding: 0px !important;
  padding-right: 10px !important;
  padding-left: 4px !important;
  transform: perspective(20px) rotateX(16deg) translateY(-5px);
  margin-right: 1px !important;
}
.tabbrowser-tab[pinned] .tab-background {
  border-radius: 7px !important;
}
.tabbrowser-tab[pinned] .tab-content {
  margin-top: 3px !important;
  margin-left: -3px !important;
}

/* Make tabs more into each other OwO */
.tabbrowser-tab:not(:first-of-type)[visuallyselected="true"],
.tabbrowser-tab:not(:first-of-type):not([visuallyselected="true"]) {
    margin-left: -25px !important;
}
.tabbrowser-tab:first-of-type {
    margin-left: 0 !important;
}


/* Tabs throbber */
.tab-throbber[busy] {
  list-style-image: none !important;
  background-image: url(../../assets/images/topbar/loading.gif) !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  filter: contrast(0.5) !important;
}

/* Because reduced motion is off, remove the bouncing dots animation */
:root[sessionrestored] .tab-throbber[busy]::before {
    background-image: none !important;
}

.tab-throbber[progress] {
  list-style-image: none !important;
  background-image: url(../../assets/images/topbar/loadingblue.gif) !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/* Padding fix for throbber */
.tab-throbber,
.tab-icon-image {
  margin-left: 3px;
}


/* Tab close */
.tab-close-button {
  margin-right: 5px !important;
  list-style-image: url('../../assets/images/topbar/closetab.png') !important;
  transform: scale(1.2) !important;
}
.tab-close-button:hover {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  list-style-image: url('../../assets/images/topbar/closetab_hover.png') !important;
  transform: scale(1.7) !important;
  margin-right: 7px !important;
  margin-top: 1px !important;
}


/* When website has no favicon, make it a grey folder */
.tab-icon-image:not([src], [pinned], [crashed], [pictureinpicture])[selected], .tab-icon-image:not([src], [pinned], [crashed], [sharing], [pictureinpicture]) {
  content: url(../../assets/images/middlebar/greyfolder.png) !important;
  display: block !important;
}


/* New tab button and its hover */
#tabs-newtab-button, #TabsToolbar #new-tab-button {
        background-repeat: no-repeat !important;
        position: relative !important;
        top: 5.5px !important;
        right: 13px;
        list-style-image: none !important;
        visibility: visible;
        transform: scale(0.78) !important;
        background-image: url(../../assets/images/topbar/newtab_original.png) !important;
        filter: grayscale(30%), brightness(505%) !important;
}

:root[native="true"] #tabs-newtab-button, 
:root[native="true"] #TabsToolbar #new-tab-button {
        background-image: url(../../assets/images/topbar/newtab_aero.png) !important;
        filter: brightness(115%) !important;
        opacity: 80% !important;
}

@media (-moz-platform: macos),
       (-moz-platform: linux) {
:root[native="true"] #tabs-newtab-button, 
:root[native="true"] #TabsToolbar #new-tab-button,
#tabs-newtab-button, #TabsToolbar #new-tab-button {
    background-image: url(../../assets/images/topbar/newtab_maclinux.png) !important;
    transform: scale(1) !important;
    right: 12px;
    top: 8px !important;
}            
}

@media (-moz-platform: linux) {

@supports (-moz-bool-pref("silverfox.beChromeOS")) or (-moz-bool-pref("silverfox.forceWindowsStyling")) {   
  
#tabs-newtab-button, #TabsToolbar #new-tab-button {
        background-repeat: no-repeat !important;
        position: relative !important;
        top: 5.5px !important;
        right: 13px;
        list-style-image: none !important;
        visibility: visible;
        transform: scale(0.78) !important;
        background-image: url(../../assets/images/topbar/newtab_original.png) !important;
        filter: grayscale(30%), brightness(505%) !important;
}

:root[native="true"] #tabs-newtab-button, 
:root[native="true"] #TabsToolbar #new-tab-button {
        background-repeat: no-repeat !important;
        position: relative !important;
        top: 5.5px !important;
        right: 13px;
        list-style-image: none !important;
        visibility: visible;
        transform: scale(0.78) !important;
        background-image: url(../../assets/images/topbar/newtab_aero.png) !important;
        filter: brightness(115%) !important;
        opacity: 80% !important;
}  
}
}
:root[native="true"] #tabs-newtab-button:hover, 
:root[native="true"] #TabsToolbar #new-tab-button:hover,
#tabs-newtab-button:hover, #TabsToolbar #new-tab-button:hover {
        background-color: transparent !important;
        border: 0px solid transparent !important;
        box-shadow: 0px !important;
        box-sizing: 0px !important;
        filter: brightness(190%) !important;
        opacity: 80% !important;
}
#tabs-newtab-button:hover > .toolbarbutton-icon {
        background: transparent !important;
        border: 0px solid transparent !important;
        box-shadow: 0px !important;
        visibility: hidden;  
}

@supports (-moz-bool-pref("silverfox.preferOldLook")) {
:root[native="true"] #tabs-newtab-button, 
:root[native="true"] #TabsToolbar #new-tab-button,
 #tabs-newtab-button, 
 #TabsToolbar #new-tab-button {
        background-image: url(../../assets/images/topbar/newtabold.png) !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        top: 7px !important;
        right: 13px;
        list-style-image: none !important;
        visibility: visible;
        transform: scale(0.9) !important;
}
:root[native="true"] #tabs-newtab-button:hover, 
:root[native="true"] #TabsToolbar #new-tab-button:hover,
#tabs-newtab-button:hover, 
#TabsToolbar #new-tab-button:hover {
        background-image: url(../../assets/images/topbar/newtabold_hover.png) !important;
        background-repeat: no-repeat !important;
        position: relative !important;
        top: 7px !important;
        right: 13px;
        list-style-image: none !important;
        visibility: visible;
        transform: scale(0.9) !important;
}
#tabs-newtab-button:hover > .toolbarbutton-icon {
        background: transparent !important;
        border: 0px solid transparent !important;
        box-shadow: 0px !important;
        visibility: hidden;
}
}


/* Private browsing (icognito mode) */
@media (-moz-platform: windows),
       ((-moz-platform: linux) and (-moz-gtk-csd-reversed-placement: 0)) {
#private-browsing-indicator-with-label {
  position: fixed !important;
  left: 0 !important;
  color: transparent !important;
}
        
         
.private-browsing-indicator-icon {
  list-style-image: none !important;
  background-image: url(../../assets/images/topbar/incognito.png) !important;
  height: 32px !important;
  width: 38px !important;
  background-repeat: no-repeat !important; 
  margin-top: -3px !important;
}
         
 #main-window[privatebrowsingmode="temporary"] .titlebar-spacer {
  width: 45px !important;
}
}

@media (-moz-platform: windows-win7) {
  .private-browsing-indicator-icon {
    margin-top: 2px !important;
}
#main-window[privatebrowsingmode="temporary"] .titlebar-spacer {
  width: 42px !important;
}
}

@media (-moz-platform: macos) or ((-moz-platform: linux) and (-moz-gtk-csd-reversed-placement)) {
#private-browsing-indicator-with-label {
  position: fixed !important;
  right: 0 !important;
  margin-right: -90px !important;
  color: transparent !important;
}
.private-browsing-indicator-icon {
  list-style-image: none !important;
  background-image: url(../../assets/images/topbar/incognito.png) !important;
  height: 32px !important;
  width: 38px !important;
  background-repeat: no-repeat !important; 
  margin-top: -3px !important;
  transform: scaleX(-1);
} 
  
#main-window[privatebrowsingmode="temporary"] .titlebar-spacer {
  width: 0px !important;
}
.toolbar-items {
  margin-left: 5px;
}
}

:root:not([sizemode="normal"]) .private-browsing-indicator-icon {
  margin-top: 0px !important;
}

:root:not([sizemode="normal"]) .titlebar-spacer[type="pre-tabs"] {
  display: block !important;
}

/* Remove Private Browsing label */
label[data-l10n-id="private-browsing-indicator-label"] {
   visibility: hidden !important;
} 

/* Hide favicon when New Tab and Private Browsing Tab */
.tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
  visibility: hidden !important;
  margin-left: -15px;
}
.tabbrowser-tab[image="chrome://branding/content/icon32.png"]:not([labeldirection="ltr"]) .tab-icon-image {
  visibility: hidden !important;
  margin-left: -15px;  
}


/* When pinned, add a grey folder to New Tab and Private Browsing Tab */
.tabbrowser-tab[pinned] .tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"],
.tabbrowser-tab[pinned][image="chrome://branding/content/icon32.png"]:not([labeldirection="ltr"]) .tab-icon-image {
  visibility: visible !important;
  margin-left: 0.5px !important;
  content: url(../../assets/images/middlebar/greyfolder.png) !important;
  margin-right: 0.5px !important;

}

/* Manual favicon and title text for some Firefox elements */

/* Chromium/Chrome favicon for common Firefox pages */
@supports not (-moz-bool-pref("silverfox.beChromium")) {
    .tabbrowser-tab[image="chrome://global/skin/icons/settings.svg"] .tab-icon-image,
    .tabbrowser-tab[image="chrome://userchrome/content/pages/about/assets/chromefavicon.png"] .tab-icon-image,
    .tabbrowser-tab[image="chrome://branding/content/icon32.png"][labeldirection="ltr"] .tab-icon-image {
        content: url(../../assets/images/topbar/chromefavicon.png) !important;
    }
}
@supports (-moz-bool-pref("silverfox.beChromium")) {
    .tabbrowser-tab[image="chrome://global/skin/icons/settings.svg"] .tab-icon-image,
    .tabbrowser-tab[image="chrome://userchrome/content/pages/about/assets/chromefavicon.png"] .tab-icon-image,
    .tabbrowser-tab[image="chrome://branding/content/icon32.png"][labeldirection="ltr"] .tab-icon-image {
        content: url(../../assets/images/topbar/chromiumfavicon.png) !important;
    }
}

/* Various manual favicons */
.tabbrowser-tab[image="chrome://global/skin/icons/warning.svg"] .tab-icon-image,
.tabbrowser-tab[image="chrome://global/skin/icons/warning.svg"] .tab-icon-image {
  content: url(../../assets/images/middlebar/greyfolder.png) !important;
}
.tabbrowser-tab[image="chrome://global/skin/icons/settings.svg"] .tab-icon-image {
  content: url(../../assets/images/topbar/settingsfavicon.png) !important;
}
.tabbrowser-tab[image="chrome://mozapps/skin/extensions/extension.svg"] .tab-icon-image {
  content: url(../../assets/images/topbar/extensionsfavicon.png) !important;
}
.tabbrowser-tab[label="Downloads"] .tab-icon-image {
  content: url(../../assets/images/topbar/downloadsfavicon.png) !important;
}
.tabbrowser-tab[label="Tab crash reporter"] .tab-icon-image {
  content: url(../../assets/images/topbar/crashfavicon.png) !important;
}
.tabbrowser-tab[label="about:history"] .tab-icon-image  {
  content: url(../../assets/images/topbar/historyfavicon.png) !important;  
}
.tabbrowser-tab[label="about:bookmarks"] .tab-icon-image  {
  content: url(../../assets/images/topbar/bookmarksfavicon.png) !important;  
}
.tabbrowser-tab[label="Report a Suspected Web Forgery"] .tab-icon-image {
  content: url(../../assets/images/pages/report/googlefavicon.ico) !important;
}

/* Various manual tab text title */
.tabbrowser-tab[label="Report a Suspected Web Forgery"] .tab-label,
.tabbrowser-tab[label="about:bookmarks"] .tab-label,
.tabbrowser-tab[label="about:history"] .tab-label {
  font-size: 0px !important;
}
.tabbrowser-tab[label="about:history"] .tab-label::before,
.tabbrowser-tab[label="about:bookmarks"] .tab-label::before,
.tabbrowser-tab[label="Report a Suspected Web Forgery"] .tab-label::before {
  font-size: 12px !important;
}

.tabbrowser-tab[label="about:history"] .tab-label::before {
  content: "History" !important;
}
.tabbrowser-tab[label="about:bookmarks"] .tab-label::before {
  content: "Bookmark Manager" !important;
}
.tabbrowser-tab[label="Report a Suspected Web Forgery"] .tab-label::before {
  content: "Report a Phishing Page" !important;
}
