/* Titlebars (Minimze, Maximize, Restore and Close) */

/* Windows (7, 8/8.1, 10 and 11) */
@media (-moz-platform: windows) {
@supports not (-moz-bool-pref("silverfox.disableChromeTitlebar")) {
.titlebar-restore,
.titlebar-min,
.titlebar-max,
.titlebar-close {
  list-style-image: none !important;
}
.titlebar-close {
  margin-right: 5px !important;
  width: 40px !important;
  height: 37px !important;
  margin-top: -5px !important;
}
:root:not([sizemode="normal"]) .titlebar-close {
  margin-top: -12px !important;
}
.titlebar-restore,
.titlebar-min,
.titlebar-max {
  min-width: 22px !important;
  max-width: 22px !important;
  height: 37px !important;
  padding: 0px !important;
  margin-right: 3px !important;
  margin-top: -5px !important;
}
:root:not([sizemode="normal"]) .titlebar-min {
  margin-top: -12px !important;
}
:root:not([sizemode="normal"]) .titlebar-restore {
  margin-top: -12px !important;
}

/* Adding Chrome style*/
.titlebar-close::before {
  content: url(../../assets/images/topbar/windows/close.png) !important;
  width: 44px !important;
  height: 18px !important;
  margin-top: 20px !important;
}
.titlebar-close:hover::before {
  content: url(../../assets/images/topbar/windows/close_hover.png) !important;
  width: 44px !important;
  height: 18px !important;
}
.titlebar-max::before {
  content: url(../../assets/images/topbar/windows/maximize.png) !important;
  width: 25px !important;
  height: 18px !important;
  margin-top: 20px !important;
}
.titlebar-restore::before {
  content: url(../../assets/images/topbar/windows/restore.png) !important;
  width: 25px !important;
  height: 18px !important;
  margin-top: 20px !important;
}

/* Hovers */
.titlebar-max:hover::before {
  content: url(../../assets/images/topbar/windows/maximize_hover.png) !important;
  width: 25px !important;
  height: 18px !important;
}
.titlebar-min::before {
  content: url(../../assets/images/topbar/windows/minimize.png) !important;
  width: 26px !important;
  height: 18px !important;
  margin-top: 20px !important;
}
.titlebar-min:hover::before {
  content: url(../../assets/images/topbar/windows/minimize_hover.png) !important;
  width: 26px !important;
  height: 18px !important;
}
.titlebar-restore:hover::before {
  content: url(../../assets/images/topbar/windows/restore_hover.png) !important;
  width: 25px !important;
  height: 18px !important;
}
}

/* Windows 7 */

@media (-moz-platform: windows-win7) {

.titlebar-restore,
.titlebar-min,
.titlebar-max,
.titlebar-close {
  display: unset !important;
}

:root:not([sizemode=maximized], [sizemode=fullscreen]) .titlebar-restore,
:root:is([sizemode=maximized], [sizemode=fullscreen]) .titlebar-max {
  display: none !important;
}

.titlebar-close {
  margin-top: -7px !important;
  padding-left: 15px !important;
}
:root:not([sizemode="normal"]) .titlebar-close {
  margin-top: 4px !important;
  margin-bottom: -5px !important;
}
.titlebar-restore,
.titlebar-min,
.titlebar-max {
  margin-top: -4px !important;
  margin-right: 2px !important;
}
:root:not([sizemode="normal"]) .titlebar-min {
  margin-top: 7px !important;
  margin-bottom: -5px !important;
}
:root:not([sizemode="normal"]) .titlebar-restore {
  margin-top: 7px !important;
  margin-right: -15px !important;
  margin-bottom: -5px !important;
}
.titlebar-max {
   margin-right: -14px !important;
}


.titlebar-close:hover::before {
  position: relative !important;
  left: -1px !important;
}

/* When in light/dark mode use native titlebar buttons, when custom themes use Chrome styling */
:root:is(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) {
  appearance: unset !important;
}

:root:is(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) .titlebar-buttonbox-container {
  align-items: center !important;
  margin-right: -7px;
}
}

/* Windows 8 / 8.1 */

@media (-moz-platform: windows-win8) {

.titlebar-restore,
.titlebar-min,
.titlebar-max,
.titlebar-close {
  display: unset !important;
}

:root:not([sizemode=maximized], [sizemode=fullscreen]) .titlebar-restore,
:root:is([sizemode=maximized], [sizemode=fullscreen]) .titlebar-max {
  display: none !important;
}

.titlebar-close {
  margin-right: 5px !important;
  margin-top: -7px !important;
}
:root:not([sizemode="normal"]) .titlebar-close {
  margin-top: 4px !important;
  margin-bottom: -5px !important;
}
.titlebar-restore,
.titlebar-min,
.titlebar-max {
  margin-right: -11px !important;
  margin-top: -4px !important;
}
:root:not([sizemode="normal"]) .titlebar-min {
  margin-top: 7px !important;
    margin-bottom: -5px !important;
}
:root:not([sizemode="normal"]) .titlebar-restore {
  margin-top: 7px !important;
  margin-right: -15px !important;
  margin-bottom: -5px !important;
}
.titlebar-max {
   margin-right: -15px !important;
}

.titlebar-close:hover::before {
  position: relative !important;
  left: -1px !important;
}

/* When in light/dark mode use native titlebar buttons, when custom themes use Chrome styling */
:root:is(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) {
  appearance: unset !important;
}

:root:is(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) .titlebar-buttonbox-container {
  align-items: center !important;
  margin-right: -7px;
}
}

/* Aero Basic, note hovers still show the default buttons unfortunately */
@media (-moz-windows-compositor: 0) {

.titlebar-button {
    appearance: unset !important;
}


.titlebar-restore,
.titlebar-min,
.titlebar-max,
.titlebar-close {
  display: unset !important;
}

:root:not([sizemode=maximized], [sizemode=fullscreen]) .titlebar-restore,
:root:is([sizemode=maximized], [sizemode=fullscreen]) .titlebar-max {
  display: none !important;
}

.titlebar-close {
  margin-top: 9px !important;
  margin-right: 20px !important;
}
:root:not([sizemode="normal"]) .titlebar-close {
  margin-top: 2px !important;
  margin-bottom: -5px !important;
}
.titlebar-restore,
.titlebar-min,
.titlebar-max {
  margin-top: 15px !important;
  margin-right: 2px !important;
}
:root:not([sizemode="normal"]) .titlebar-min {
  margin-top: 8px !important;
  margin-bottom: -5px !important;
}
:root:not([sizemode="normal"]) .titlebar-restore {
  margin-top: 8px !important;
  margin-right: -12px !important;
  margin-bottom: -5px !important;
}
.titlebar-max {
   margin-right: -14px !important;
}

.titlebar-close:hover::before {
  position: relative !important;
  left: -1px !important;
}

:root:not(
  [style*="--lwt-header-image"],
  [lwtheme-image],
  [style*="--lwt-additional-images"]
) .titlebar-buttonbox {
  align-items: center !important;
  appearance: none !important;
}
}
}


/* Linux */
@media (-moz-platform: linux) {
  .titlebar-buttonbox {
    margin-top: -14px !important;
    appearance: none !important; /* Prevents ANY influencing of margins */
    gap: 2px !important;
  }
  @media not (-moz-gtk-csd-reversed-placement) { .titlebar-buttonbox {
    margin-right: 3px !important;
  }}
  @media (-moz-gtk-csd-reversed-placement) { .titlebar-buttonbox {
    margin-left: 3px !important;
  }}
  .titlebar-close,
  .titlebar-restore,
  .titlebar-min,
  .titlebar-max {
    appearance: none !important;
    list-style-image: none !important;
    border-radius: 0 !important;
    min-width: 24px !important;
    max-width: 24px !important;
    height: 18px !important;
    padding: 0 !important;
  }
  @supports (-moz-bool-pref("silverfox.allowThemes")) {
    :root:not([sizemode="normal"]) .titlebar-buttonbox {
      margin-top: 1px !important;
    }
  }
  @supports not (-moz-bool-pref("silverfox.allowThemes")) {
    :root:not([sizemode="normal"]) .titlebar-buttonbox {
      margin-top: 0px !important;
    }
  }

  /* Adding Chrome style*/
  .titlebar-close {
    background: url(../../assets/images/topbar/linux/close.png) !important;
  }
  .titlebar-min {
    background: url(../../assets/images/topbar/linux/minimize.png) !important;
  }
  .titlebar-max {
    background: url(../../assets/images/topbar/linux/maximize.png) !important;
  }
  .titlebar-restore {
    background: url(../../assets/images/topbar/linux/restore.png) !important;
  }

  /* Hovers */
  .titlebar-close:hover {
    background: url(../../assets/images/topbar/linux/close_hover.png) !important;
  }
  .titlebar-min:hover {
    background: url(../../assets/images/topbar/linux/minimize_hover.png) !important;
  }
  .titlebar-max:hover {
    background: url(../../assets/images/topbar/linux/maximize_hover.png) !important;
  }
  .titlebar-restore:hover {
    background: url(../../assets/images/topbar/linux/restore_hover.png) !important;
  }

  /* Pressed */
  .titlebar-close:hover:active {
    background: url(../../assets/images/topbar/linux/close_pressed.png) !important;
  }
  .titlebar-min:hover:active {
    background: url(../../assets/images/topbar/linux/minimize_pressed.png) !important;
  }
  .titlebar-max:hover:active {
    background: url(../../assets/images/topbar/linux/maximize_pressed.png) !important;
  }
  .titlebar-restore:hover:active {
    background: url(../../assets/images/topbar/linux/restore_pressed.png) !important;
  }
}
