/* Silverfox Flags Page */

* {
    font-family: "Segoe UI", sans-serif;
}

.experimentName,
.carefulTop {
    display: inline-flex;
}

.carefulInfo {
    font-size: 19px;
    font-weight: bold;
    margin-left: 10px;
}

red {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.moreInfo {
    font-size: 15px;
}

.expText {
    font-weight: bold;
    border-top: 1px solid #9cc2ef;
    background: #ebeff9;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 5px;
    color: black;
}

.experimentsTable {
    background: #F0F0F0;
    font-size: 12px;
    margin-top: -5px;
}

.experimentName {
    margin-top: -8px;
}

.experimentFlag {
    border-bottom: 1px solid #cdcdcd;
    padding-left: 5px;
}

.flagName {
    font-weight: bold;
    padding-right: 5px;
    color: black;
}

.aboutInfo,
.flagMention {
    color: grey;
}

.dropdownSwitch,
.enableSwitch,
.aboutInfo {
    margin-top: -10px;
}

.enableSwitch {
    padding-bottom: 5px;
}

.dropdownSwitch {
    padding-bottom: 10px;
}

.restartFirefox {
    margin-top: 5px;
    background: white;
    border-top: 1px solid #cdcdcd;
    color: black;
}

.firefoxSwitch p, button {
    font-size: 12px;
}

.firefoxSwitch p {
    margin-bottom: 2px;
}
.notAvailable {
    margin-top: -10px;
    font-size: 12px;
    color: grey;
}

/* Conditional flags */

.notAvailable[type="forceWindows"],
.notAvailable[type="oldLook"],
.notAvailable[type="disableSystemThemeIcons"],
.notAvailable[type="beChromeOS"],
.enableDisableSystemThemeIcons,
.enableDisableChromeOS,
.enableDisableDWM,
.enableDisableSpoofing,
.enableDisableWin8,
.enableDisableWin7 {
    display: none;
}


@media (-moz-ev-native-controls-patch) {
    .enableDisableWin8,
    .enableDisableSpoofing,
    .enableDisableDWM,
    .enableDisableWin7 {
        display: block !important;
    }
    
    .enableDisableWin8:before,
    .enableDisableDWM:before,
    .enableDisableWin7:before {
        content: "En";
    }
    
    :root[win8="true"] .enableDisableWin8:before,
    :root[dwm="off"] .enableDisableDWM:before,
    :root[win7="true"] .enableDisableWin7:before {
        content: "Dis" !important;
    }
    
    .notAvailable[type="spoofFlag"] {
        display: none !important;
    }
}

.enableDisableForceWindows {
    display: none;
}

@media (-moz-platform: linux) {
    .enableDisableChromeOS,
    .enableDisableForceWindows,
    .enableDisableSystemThemeIcons {
        display: block !important;
    }

    .notAvailable[type="linuxTitlebars"] {
        display: none !important
    }
    
@supports (-moz-bool-pref("silverfox.beChromeOS")) { 
    .enableDisableOld,
    .enableDisableForceWindows,
    .enableDisableSystemThemeIcons {
        display: none !important;
    }
    
    .notAvailable[type="forceWindows"],
    .notAvailable[type="oldLook"],
    .notAvailable[type="disableSystemThemeIcons"] {
        display: block !important;
    }
}
    
@supports (-moz-bool-pref("silverfox.forceWindowsStyling")) {
    .enableDisableChromeOS,
    .enableDisableSystemThemeIcons {
        display: none !important;
    }

    .notAvailable[type="beChromeOS"],
    .notAvailable[type="disableSystemThemeIcons"] {
        display: block !important;
    }
}

@supports (-moz-bool-pref("silverfox.disableSystemThemeIcons")) {
    .enableDisableChromeOS,
    .enableDisableForceWindows {
        display: none !important;
    }

    .notAvailable[type="beChromeOS"],
    .notAvailable[type="forceWindows"] {
        display: block !important;
    }
}

@supports (-moz-bool-pref("silverfox.preferOldLook")) {
    .enableDisableChromeOS {
        display: none !important;
    }

    .notAvailable[type="beChromeOS"] {
        display: block !important;
    }
}
}