@-moz-document url-prefix('about:neterror?e=netOffline') {

body {
  background: linear-gradient(to bottom, #cccccc 0%, #aaaaaa 100%) !important;
}

.container {
  border-radius: 5px !important;
  background: white !important;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.29) !important;
  font-size: 12px !important;
  min-width: 780px !important;
  height: 190px !important;
  color: black !important;
  position: fixed !important;
  top: 20% !important;
  left: 50% !important;
  transform: translate(-50%, -20%) !important;
}

h1[data-l10n-id="netOffline-title"] {
  font-size: 5px !important;
  font-weight: 600 !important;
  color: transparent !important;
  margin-left: 20px !important;
  margin-top: 5px !important;
}

@media only screen and (max-width: 974px) {
    h1[data-l10n-id="netOffline-title"] {
        margin-top: -35px !important;
    }
}

h1[data-l10n-id="netOffline-title"]::before {
  content: "Unable to connect to the Internet" !important;
  font-size: 23px !important;
  font-weight: 600 !important;
  color: black !important;
}

h1[data-l10n-id="netOffline-title"]::after {
  content: url(../../assets/images/pages/newtab/chromelogo.png) !important;
  position: relative !important;
  left: 220px !important;
  top: 10px !important;
}

#errorShortDesc {
  font-size: 12px !important;
  margin-left: 23px !important;
  max-width: 750px !important;
  margin-top: 15px !important;
}

#errorShortDesc::after {
  content: "Google Chrome can't display the webpage because your computer isn't connected to the Internet." !important;
}
  
  li[data-l10n-id="neterror-net-offline"] {
    font-size: 0px !important;
  }
  
li[data-l10n-id="neterror-net-offline"]:before {
  content: "You can try to diagnose the problem by taking the following steps: Go to" !important;
  font-size: 12px !important;
}
  
  li[data-l10n-id="neterror-net-offline"]:after {
  content: "Start > Control Panel > Network and Internet > Network and Sharing Center > Troubleshoot Problems (at the bottom) > Internet Connections." !important;
  font-size: 12px !important;
  font-weight: bold !important;
  padding-left: 2px !important;
}
  
  

ul {
 list-style: none !important;
}

#netErrorButtonContainer > button {
  display: none !important;
}


#netErrorButtonContainer > button::before {
  content: "Try Again." !important;
  color: #0000cc !important;
  text-decoration: underline !important;
}

ul::after {
  content: "Error 106 (net::ERR_INTERNET_DISCONNECTED): The Internet connection has been lost." !important;
  color: grey !important;
  position: relative !important;
  font-size: 13px !important;
  top: 30px !important;
  left: -px !important;
}
}