@-moz-document url-prefix('about:neterror?e=netOffline') {

body {
  background: linear-gradient(to bottom, #cccccc 0%, #aaaaaa 100%) !important;
}

.container {
  border-radius: 5px !important;
  background: white !important;
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.29) !important;
  font-size: 12px !important;
  min-width: 780px !important;
  height: 160px !important;
  color: black !important;
  position: fixed !important;
  top: 20% !important;
  left: 50% !important;
  transform: translate(-50%, -20%) !important;
}

h1[data-l10n-id="netOffline-title"] {
  font-size: 5px !important;
  font-weight: 600 !important;
  color: transparent !important;
  margin-left: 20px !important;
  margin-top: 5px !important;
}

@media only screen and (max-width: 974px) {
    h1[data-l10n-id="netOffline-title"] {
        margin-top: -35px !important;
    }
}

h1[data-l10n-id="netOffline-title"]::before {
  content: "You are offline" !important;
  font-size: 23px !important;
  font-weight: 600 !important;
  color: black !important;
}

h1[data-l10n-id="netOffline-title"]::after {
  content: url(../../assets/images/pages/newtab/chromelogo.png) !important;
  position: relative !important;
  left: 400px !important;
  top: 10px !important;
}

#errorShortDesc {
  font-size: 12px !important;
  margin-left: 23px !important;
  max-width: 750px !important;
  margin-top: 10px !important;
}

#errorShortDesc::after {
  content: "The webpage you are trying to access has not been saved offline and you do not have a active connection to the internet." !important;
}

ul {
 margin-left: 50px !important;
}

#netErrorButtonContainer > button {
  background: transparent !important;
  color: transparent !important;
  cursor: pointer !important;
  position: relative !important;
  right: 604px !important;
  top: -55px !important;  
}

#netErrorButtonContainer::before {
  content: "•" !important;
  font-weight: bold !important;
  font-size: 16px !important;
  position: relative !important;
  right: 590px !important;
  top: -36px !important;
}

#netErrorButtonContainer > button::before {
  content: "Try Again." !important;
  color: #0000cc !important;
  text-decoration: underline !important;
}

ul::after {
  content: "Error 417 (net::EXPECTATION_FAILED): A client expectation cannot be met by the server." !important;
  color: grey !important;
  position: relative !important;
  font-size: 13px !important;
  top: 28px !important;
  left: -24px !important;
}
}