@-moz-document url-prefix(about:config) {
.config-help-text:after {
  content: "If you see this, stream First Love album by Hikaru Utada !" !important;
  font-size: 12px !important;
}

.config-help-text {
  font-size: 0px !important;
}
}