@-moz-document url-prefix(about:support) {
	
#application-box::after {
  content: "running Silverfox Beta theme" !important;
  position: relative !important;
  left: 2px !important;
}

#version-box::after {
  content: "/ Silverfox version 1.0" !important;
  position: relative !important;
  left: 2px !important;
}
}

@-moz-document url-prefix(https://silverfox.neocities.org/components/update) {
	
.currentVersion p:after {
    content: "1.0";
    position: relative;
    left: 5px;
}

.noSilverfox {
  display: none !important;
}
}