@-moz-document url-prefix(about:support) {
	
#application-box::after {
  content: "running Silverfox theme" !important;
  position: relative !important;
  left: 2px !important;
}

#version-box::after {
  content: "/ Silverfox version 0.6 (Closed Beta)" !important;
  position: relative !important;
  left: 2px !important;
}
}

@-moz-document url-prefix(https://silverfox.neocities.org/components/update) {
	
.currentVersion p:after {
    content: "0.6";
    position: relative;
    left: 5px;
}

.noSilverfox {
  display: none !important;
}
}