@-moz-document url(about:privatebrowsing) { 

@media (prefers-color-scheme: dark) {
    html.private {
        --in-content-page-background: #2B2A33 !important;
    }
}
@media (prefers-color-scheme: light) {
    html.private {
        --in-content-page-background: white !important;
    }
}
  
.logo-and-wordmark {
    visibility: hidden !important;
}   

.promo.below-search,
.promo.below-search.promo-visible {
  display: none !important;
}

@supports not (-moz-bool-pref("silverfox.beChromium")) {
    #info-body::before {
        content: url(../../assets/images/pages/incognito/incognitoinfo.png) !important;
    }
}

@supports (-moz-bool-pref("silverfox.beChromium")) {
    #info-body::before {
        content: url(../../assets/images/pages/incognito/incognitoinfo_chromium.png) !important;
    }
}

#info-body {
  color: transparent !important;
  margin-top: -400px !important;
}

.info {
  background: transparent !important;
}

#about-private-browsing-logo,
.search-inner-wrapper {
  display: none !important;
}

#private-browsing-myths {
  font-size: 12px !important;
  position: relative !important;
  top: -146px !important;
  margin-left: 10px !important;
  color: #0061e0 !important;  
}

#private-browsing-myths:after {
  content: "about incognito browsing." !important;
  color: black !important;
  text-decoration: underline;
  text-decoration-color: #eeeeee !important;
  position: relative !important;
  left: 3px !important;
  pointer-events: none !important;
  cursor: context-menu !important;
}
}